#createWillHeader {
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    .header__content {
        .navbar {
            .navbar-brand {
                h1 {
                    text-align: center;
                }
            }
        }
    }
}
