* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.login {
    .login__content {
        .login__left {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 100%;
                height: 100%;
            }
            .blackCover {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background-image: linear-gradient(to left, black, rgba(0, 0, 0, 0));
            }
            .pageLogo {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 200px;
            }
        }
        .login__right {
            position: relative;
            .loginForm {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 50%;
                #userTypeTab {
                    border: 0;
                    display: flex;
                    justify-content: center;
                    .nav-item {
                        .active {
                            color: $color-orange-0;
                            border-bottom: 2px solid $color-orange-0;
                        }
                        a {
                            border: 0;
                            color: black;
                            &:active:focus {
                                color: $color-orange-0;
                            }
                        }
                    }
                }
                h1 {
                    display: block;
                    text-align: center;
                    color: black;
                    font-size: 50px;
                    margin-bottom: 20px;
                }
                .userLoginForm {
                    #legator,
                    #relatives:checked {
                        background-color: $color-orange-0;
                    }
                    #userName,
                    #password,
                    #relativeName,
                    #relativeEmail {
                        width: 100%;
                        background-color: #e6e6e6;
                        border: 0;
                        padding: 10px 15px;
                        border-radius: 25px;
                        margin-top: 10px;
                        color: $color-orange-0;
                        &:focus {
                            border: 0;
                            outline: none;
                            box-shadow: none;
                        }
                    }
                    button {
                        margin-top: 20px;
                        width: 100%;
                        padding: 10px 15px;
                        border: 0;
                        border-radius: 25px;
                        background-color: $color-orange-0;
                        &:focus {
                            box-shadow: none;
                            border: 0;
                            outline: none;
                        }
                    }
                    p {
                        text-align: center;
                        margin-top: 15px;
                        color: gray;
                        a {
                            text-decoration-line: none;
                            color: black;
                            transition: 0.2s all;
                            &:hover {
                                color: $color-orange-0;
                            }
                        }
                    }
                }
            }
            #createAccount {
                position: absolute;
                left: 50%;
                bottom: 10%;
                transform: translateX(-50%);
                text-decoration-line: none;
                color: black;
                transition: 0.2s all;
                &:hover {
                    color: $color-orange-0;
                }
            }
        }
        #signUpModal {
            .modal-dialog {
                position: relative;
                .modal-content {
                    border-radius: 10px;
                    overflow: hidden;
                    .modal-header {
                        border: 0;
                        width: 100%;
                        height: 90px;
                        background-image: url(../img/black-and-white-city-houses-skyline.jpg);
                    }
                    .modal-body {
                        padding: 45px;
                        input {
                            width: 100%;
                            margin-top: 15px;
                            border: 0;
                            border-bottom: 1px solid gray;
                            &:focus {
                                outline: none;
                                box-shadow: none;
                            }
                        }
                    }
                    .modal-footer {
                        border: 0;
                        .btn__clear {
                            background-color: #e6e6e6;
                            border: 0;
                        }
                        .btn__signUp {
                            background-color: $color-orange-0;
                            border: 0;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 575px) {
    .login {
        .login__content {
            .login__left {
                position: relative;
                img {
                    height: 100vh;
                }
                .pageLogo {
                    i {
                        display: none;
                    }
                }
            }
            .login__right {
                position: absolute;
                height: 100vh;
                width: 100%;
                left: 0;
                .loginForm {
                    width: 65%;
                    h1 {
                        color: white;
                        font-size: 40px;
                        margin-bottom: 15px;
                    }
                    #userTypeTab {
                        .nav-item {
                            .active {
                                background-color: rgba(255, 255, 255, 0);
                            }
                            a {
                                border: 0;
                                color: white;
                                &:active:focus {
                                    color: $color-orange-0;
                                }
                            }
                        }
                    }
                    .userLoginForm {
                        p {
                            color: white;
                            a {
                                color: $color-orange-0;
                                font-size: 15px;
                            }
                        }
                    }
                }
                #createAccount {
                    font-size: 15px;
                    color: white;
                    &:hover {
                        color: $color-orange-0;
                    }
                }
            }
            #signUpModal {
                .modal-dialog {
                    margin-left: 30px;
                    margin-right: 30px;
                }
            }
        }
    }
}

@media screen and (min-width:576px) and (max-width:768px) {
    .login {
        .login__content {
            .login__left {
                position: relative;
                img {
                    height: 100vh;
                }
                .pageLogo {
                    i {
                        font-size: 150px;
                    }
                }
            }
            .login__right {
                height: 100vh;
                width: 100%;
                .loginForm {
                    width: 50%;
                    h1 {
                        color: black;
                        font-size: 30px;
                        margin-bottom: 10px;
                    }
                    #userTypeTab {
                        .nav-item {
                            .active {
                                background-color: rgba(255, 255, 255, 0);
                            }
                            a {
                                border: 0;
                                font-size: 12px;
                                padding: 5px 10px;
                                color: black;
                                &:active:focus {
                                    color: $color-orange-0;
                                }
                            }
                        }
                    }
                    .userLoginForm {
                        p {
                            color: white;
                            a {
                                color: $color-orange-0;
                                font-size: 15px;
                            }
                        }
                        #userName,
                        #password,
                        #relativeName,
                        #relativeEmail {
                            padding: 5px 10px;
                        }
                        button {
                            margin-top: 10px;
                            padding: 5px 10px;
                        }
                        p {
                            color: black;
                            font-size: 10px;
                            a {
                                font-size: 10px;
                            }
                        }
                    }
                }
                #createAccount {
                    font-size: 15px;
                    color: black;
                    &:hover {
                        color: $color-orange-0;
                    }
                }
            }
            #signUpModal {
                .modal-dialog {
                    margin-left: 30px;
                    margin-right: 30px;
                }
            }
        }
    }
}