.yourWill {
    background-image: url(./../img/anh-nen-toi-hoa-van-cho-dien-thoai_101025691.jpg);
    padding: 0 300px;
    .yourWill__content {
        padding-top: 100px;
        .colorSection {
            @include colorSection;
        }
        h1 {
            @include yourWillh1;
            margin-top: 50px;
        }
        h3 {
            @include yourWillh3;
            margin-top: 50px;
        }
        .radioh3 {
            @include yourWillh3;
        }
        p {
            @include yourWillp;
            margin-top: 50px;
        }
        input {
            @include yourWillinput;
        }
        button {
            @include nextButton;
        }
        select {
            @include selectOption;
        }
        .radioOption {
            @include radioOption;
        }
        textarea {
            width: 100%;
        }
        #account,
        #hasChild,
        #guardian,
        #yesAlternate,
        #personalAlternate,
        #haveRequests {
            border: 2px solid black;
            margin-top: 60px;
            padding: 20px;
            padding-top: 50px;
            border-radius: 10px;
            position: relative;
            h3 {
                @include yourWillh3;
                position: absolute;
                background-color: white;
                top: 0;
                left: 50%;
                transform: translate(-50%, -50%);
                border: 2px solid black;
                padding: 10px;
                width: 30%;
            }
        }
        .yourWillPage {
            // border-radius: 10px;
            border: 2px solid black;
            padding: 0 150px;
            background-color: white;
            margin-bottom: 20px;
            #childrenTab,
            #guardianPersonal,
            #alternateGuardian,
            #personalGuardian,
            #requests {
                border: 0;
                li {
                    padding: 5px;
                    width: 50%;
                    a {
                        border: 2px solid black;
                        color: black;
                    }
                    .active {
                        background-color: #eeeeee;
                    }
                }
            }
        }
    }
}
